// Theme
@import "imports/theme/variables";

// App
@import "imports/app/app";

// Pages
@import "imports/pages/chats/chats";
@import "imports/pages/chats/new-chat";
@import "imports/pages/chats/chats-options";
@import "imports/pages/login/login";
@import "imports/pages/admin/profile/tab/chat/messages";
@import "imports/pages/admin/profile/tab/chat/messages-options";
@import "imports/pages/admin/profile/profile";
@import "imports/pages/admin/list-candidat/list-candidat";
@import "imports/pages/nav/nav";
@import "imports/pages/admin/profile/tab/information/information";
@import "imports/pages/admin/profile/tab/dossier-competences/dossierc";
.scroll-content{
  overflow-y: auto;
}

.add-icon {
  position: absolute;
  right: 14px;
}
.add-icon-h {
  position: absolute;
  right: -1px;
}


.position-card {
  position: relative;
}

textarea.text-input {
  display: block;
  min-height: 175px;
}