<ion-header>
    <ion-navbar color="whatsapp">
        <ion-title>Login</ion-title>


    </ion-navbar>
</ion-header>

<ion-content padding class="login-page-content">
    <ion-img width="180" height="80" src="/assets/experis-france.svg"></ion-img>
    <ion-item>
        <ion-input [(ngModel)]="loginIn" (keypress)="onInputKeypress($event)" type="text" placeholder="Login"></ion-input>
    </ion-item>

    <ion-item>
        <ion-input [(ngModel)]="passwordIn" (keypress)="onInputKeypress($event)" type="password" placeholder="Password"></ion-input>
    </ion-item>

    <ion-buttons end>
        <button ion-button class="done-button" (click)="login()">Login</button>
    </ion-buttons>
</ion-content>