<ion-header class="information">
    <ion-navbar color="whatsapp">
        <ion-title>
        Profile</ion-title>

        <ion-buttons end>
            <button ion-button class="done-button" (click)="updateProfile()">Enregistrer</button>
            <button ion-button icon-only class="options-button" (click)="showOptions()">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>
</ion-header>
<ion-content>
    <div class="profile-picture">
        <img *ngIf="picture" [src]="picture">
        <ion-icon name="create" (click)="selectProfilePicture()"></ion-icon>
    </div>

    <ion-item class="profile-name">
        <ion-label stacked>Prenom</ion-label>
        <ion-input [(ngModel)]="profile.firstname" placeholder="Prenom"></ion-input>
    </ion-item>
    <ion-item class="profile-name">
        <ion-label stacked>Nom</ion-label>
        <ion-input [(ngModel)]="profile.lastname" placeholder="Nom"></ion-input>
    </ion-item>
</ion-content>