<ion-content class="profile-page-content">
    <ion-tabs #myTabs class="tabs-icon-only tabs-positive" (ionChange)="switchTabs()">
        <ion-tab tabIcon="contact" tabTitle="Informations" [root]="tab1" [rootParams]="user"></ion-tab>
        <ion-tab tabIcon="chatboxes" tabTitle="Chat" [root]="tab2"></ion-tab>
        <ion-tab tabIcon="document" tabTitle="Dossier de competences" [root]="tab4" [rootParams]="user"></ion-tab>
    </ion-tabs>`
</ion-content>