<ion-header class="information">
    <ion-navbar color="whatsapp">
        <ion-title>Dossier de competences</ion-title>

        <ion-buttons end>
            <button ion-button class="done-button" (click)="downloadPDF()">Download</button>
            <button ion-button class="done-button" (click)="saveInfo()">Save</button>
            <!--<button ion-button icon-only class="options-button" (click)="downloadPDF()">
                <ion-icon name="more"></ion-icon>
            </button>-->
        </ion-buttons>

    </ion-navbar>
</ion-header>
<ion-content class="dossierc">

    <ion-item class="profile-name">
        <ion-label floating>Poste</ion-label>
        <ion-input [(ngModel)]="dossierc.poste" placeholder="Poste"></ion-input>
    </ion-item>


    <ion-grid>
        <ion-col>
            <ion-row>
                <ion-col width-67>
                    <ion-card class="position-card">
                        <ion-card-header>
                            Formation initiale
                            <ion-icon class="add-icon" end name="add-circle" (click)="add('fi', 'text')"></ion-icon>

                        </ion-card-header>
                        <ion-card-content>
                            <ion-row *ngFor="let fi of dossierc.fi;let index = index;trackBy:trackByIndex;">
                                <ion-item>
                                    <ion-label floating>Titre</ion-label>
                                    <ion-input [(ngModel)]="dossierc.fi[index]" placeholder="Titre"></ion-input>
                                </ion-item>
                                <ion-icon class="button-remove" name="remove-circle"
                                          (click)="remove('fi', index)"></ion-icon>
                            </ion-row>

                        </ion-card-content>
                    </ion-card>
                    <ion-card class="position-card">
                        <ion-card-header>
                            Langues
                            <ion-icon item-start class="add-icon" name="add-circle"
                                      (click)="add('langue', 'object')"></ion-icon>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-row *ngFor="let la of dossierc.langue;let index = index;trackBy:trackByIndex;">
                                <ion-item>
                                    <ion-label floating>Langue {{index+1}}</ion-label>
                                    <ion-input [(ngModel)]="dossierc.langue[index].titre"
                                    ></ion-input>
                                </ion-item>

                                <ion-item>
                                    <ion-label floating>Niveau</ion-label>
                                    <ion-select [(ngModel)]="dossierc.langue[index].niveau">
                                        <ion-option value="notions">Notions</ion-option>
                                        <ion-option value="moyen">Moyen</ion-option>
                                        <ion-option value="courant">Courant</ion-option>
                                        <ion-option value="natale">Natale</ion-option>
                                    </ion-select>
                                </ion-item>
                                <ion-icon class="button-remove" name="remove-circle"
                                          (click)="remove('langue', index)"></ion-icon>
                            </ion-row>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
                <ion-card>
                    <ion-card-header>
                        Présentation
                    </ion-card-header>
                    <ion-card-content>
                        <ion-item class="profile-name">
                            <ion-textarea [(ngModel)]="dossierc.presentation" placeholder="Présentation"></ion-textarea>
                        </ion-item>
                    </ion-card-content>
                </ion-card>
            </ion-row>
            <ion-row>
                <ion-card class="position-card">
                    <ion-card-header>
                        Compétences clés
                    </ion-card-header>
                    <ion-card-content>
                        <ion-title>Techniques/Outils
                            <ion-icon item-start name="add-circle" class="add-icon-h"
                                      (click)="add('techno', 'object')"></ion-icon>
                        </ion-title>
                        <ion-row *ngFor="let techno of dossierc.techno;let index1 = index;trackBy:trackByIndex;">
                            <ion-item class="width80">
                                <ion-input placeholder="Technologie"
                                           [(ngModel)]="dossierc.techno[index1].titre"></ion-input>
                            </ion-item>

                            <div id="techno{{index1}}" class="listeEtoile"
                                 (mouseout)="gestionHover('techno',-1,4, index1)">
                                <ul>
                                    <li *ngFor="let i of [1,2,3,4]">
                                        <a (click)="choixSelection('techno', i, index1)"
                                           (mouseover)="gestionHover('techno',i,4, index1)">
                                            <img id="staroff-techno{{index1}}-{{i}}" src="assets/staroff.gif" border="0"
                                                 style="border-width: 0;"
                                                 [style.display]="dossierc.techno[index1].niveau>=i?'none':'block'">
                                            <img id="staron-techno{{index1}}-{{i}}" src="assets/staron.gif" border="0"
                                                 style="border-width: 0;"
                                                 [style.display]="dossierc.techno[index1].niveau<i?'none':'block'">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <ion-icon class="button-remove" name="remove-circle"
                                      (click)="remove('techno', index1)"></ion-icon>
                        </ion-row>

                        <ion-title class="title-activite">Métiers/Secteurs d'activité
                            <ion-icon class="add-icon-h" item-start name="add-circle"
                                      (click)="add('secteur', 'object')"></ion-icon>
                        </ion-title>
                        <ion-row *ngFor="let secteur of dossierc.secteur;let index = index;trackBy:trackByIndex;">
                            <ion-item class="width80">
                                <ion-input placeholder="Technologie"
                                           [(ngModel)]="dossierc.secteur[index].titre"></ion-input>
                            </ion-item>

                            <div id="secteur{{index}}" class="listeEtoile"
                                 (mouseout)="gestionHover('secteur',-1,4, index)">
                                <ul>
                                    <li *ngFor="let i of [1,2,3,4]">
                                        <a (click)="choixSelection('secteur', i, index)"
                                           (mouseover)="gestionHover('secteur',i,4, index)">
                                            <img id="staroff-secteur{{index}}-{{i}}" src="assets/staroff.gif" border="0"
                                                 style="border-width: 0;"
                                                 [style.display]="dossierc.secteur[index].niveau>=i?'none':'block'">
                                            <img id="staron-secteur{{index}}-{{i}}" src="assets/staron.gif" border="0"
                                                 style="border-width: 0;"
                                                 [style.display]="dossierc.secteur[index].niveau<i?'none':'block'">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <ion-icon class="button-remove" name="remove-circle"
                                      (click)="remove('secteur', index)"></ion-icon>
                        </ion-row>

                    </ion-card-content>
                </ion-card>
                <!--<ion-card class="position-card">
                    <ion-card-header>
                        Résumé du parcours
                        <ion-icon class="add-icon" end name="add-circle" (click)="add('resume', 'object')"></ion-icon>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-card *ngFor="let re of dossierc.resume;let index = index;trackBy:trackByIndex;">
                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-input [(ngModel)]="dossierc.resume[index].titre"
                                                   placeholder="Depuis MM AAAA à MM AAAA - la societé (la ville)"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-input [(ngModel)]="dossierc.resume[index].poste"
                                                   placeholder="Le poste"></ion-input>
                                    </ion-item>
                                </ion-col>
                                <ion-icon class="button-remove" name="remove-circle"
                                          (click)="remove('resume', index)"></ion-icon>
                            </ion-row>
                        </ion-card>
                    </ion-card-content>
                </ion-card>-->
                <ion-card class="position-card">
                    <ion-card-header>
                        Formations complémentaires / Certifications / Concours / Publication
                        <ion-icon class="add-icon" end name="add-circle" (click)="add('formation', 'text')"></ion-icon>

                    </ion-card-header>
                    <ion-card-content>
                        <ion-row *ngFor="let fo of dossierc.formation;let index = index;trackBy:trackByIndex;">
                            <ion-item>
                                <ion-label floating>Formation</ion-label>
                                <ion-input [(ngModel)]="dossierc.formation[index]" placeholder="Formation"></ion-input>
                            </ion-item>
                            <ion-icon class="button-remove" name="remove-circle"
                                      (click)="remove('formation', index)"></ion-icon>
                        </ion-row>

                    </ion-card-content>
                </ion-card>
            </ion-row>
            <!--<ion-card class="position-card">
                <ion-card-header>
                    Formations complémentaires / Certifications / Concours / Publication
                    <ion-icon class="add-icon" end name="add-circle" (click)="add('formation', 'text')"></ion-icon>

                </ion-card-header>
                <ion-card-content>
                    <ion-row *ngFor="let fo of dossierc.formation;let index = index;trackBy:trackByIndex;">
                        <ion-item>
                            <ion-label floating>Formation</ion-label>
                            <ion-input [(ngModel)]="dossierc.formation[index]" placeholder="Formation"></ion-input>
                        </ion-item>
                        <ion-icon class="button-remove" name="remove-circle"
                                  (click)="remove('formation', index)"></ion-icon>
                    </ion-row>

                </ion-card-content>
            </ion-card>-->
            <ion-card class="position-card">
                <!--<<div class="item_table" *ngFor="let items of [[{name: 'test1'},{name: 'test4'}], [{name: 'test10'},{name: 'test14'}]]; let spNumber = index">

                    <div style="min-height:50px; border:1px solid #eee;" [dragula]='"item-list"' [dragulaModel]='items' class='container'>

                        <div *ngFor="let item of items; let i = index">

                            {{item.name}}
                        </div>

                    </div>

                </div>-->
                <ion-card-header>
                    Expérience professionnelle
                    <ion-icon class="add-icon" end name="add-circle" (click)="add('experience', 'object')"></ion-icon>

                </ion-card-header>
                <div [dragula]='"sixth-bag"'>
                    <div *ngFor="let ex of dossierc.experience;let index = index;trackBy:trackByIndex;">
                    <ion-row  >
                    <ion-card >
                        <ion-col>
                            <ion-item>
                                <ion-input [(ngModel)]="dossierc.experience[index].titre"
                                           placeholder="Depuis MM AAAA à MM AAAA - la societé (la ville)"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-input [(ngModel)]="dossierc.experience[index].poste"
                                           placeholder="Le poste"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-input placeholder="Titre du projet"
                                           [(ngModel)]="dossierc.experience[index].titre_poste"></ion-input>
                            </ion-item>

                            <ion-item>
                                <ion-textarea elastic [(ngModel)]="dossierc.experience[index].co" placeholder="Présentation"></ion-textarea>
                            </ion-item>
                        </ion-col>
                    </ion-card>
                        <ion-icon class="button-remove" name="remove-circle"
                                  (click)="remove('experience', index)"></ion-icon>
                    </ion-row>
                    </div>
                </div>
            </ion-card>
        </ion-col>
    </ion-grid>


</ion-content>