.dossierc {
  .button-remove {
    margin-top: 41px;
  }
  .width80{
    width: 80%;
  }
  .title-activite {
    margin-top: 22px;
  }
}

.listeEtoile {
  margin-right: 10px;
  min-width: 91px;
}
.listeEtoile ul {
  margin-left: 18px;
  padding: 0;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 35px;
}
.listeEtoile ul li {
  display:inline-block;
  width: 16px;
  text-align: left;
  list-style-type: none;
}
.listeEtoile ul li img {
  border: 0;
  margin: 0;
  padding: 0;
}
#tableau-sondage{
  font-family:verdana;
  font-size:12px;
}
#tableau-sondage th{
  font-size:13px;
  border:solid 1px black;
  padding:8px;
  cursor:default;
}
#tableau-sondage td{
  border:solid 1px black;
  padding:12px 3px;
  text-align:center;
}

