<ion-header>
  <ion-navbar color="whatsapp">
    <ion-title>Candidat</ion-title>

      <ion-buttons end>
          <button ion-button icon-only class="add-chat-button" (click)="addCandidat()">
              <ion-icon name="person-add"></ion-icon>
          </button>
          <button ion-button icon-only class="options-button" (click)="showOptions()">
              <ion-icon name="more"></ion-icon>
          </button>
      </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content class="list-candidat">
    <ion-list class="users">
        <button ion-item *ngFor="let user of users | async" class="user" (click)="showCandidat(user)">
            <img class="user-picture" [src]="getPic(user.profile.pictureId)">
            <h2 class="user-name">{{user.profile.firstname}} {{user.profile.lastname}}</h2>
        </button>
    </ion-list>
</ion-content>