<ion-header>
    <ion-navbar color="whatsapp">
        <ion-title>Ajouter un candidat</ion-title>


    </ion-navbar>
</ion-header>

<ion-content padding class="new-candidat-page-content">

    <ion-item>
        <ion-input [(ngModel)]="firstname" type="text" placeholder="Prenom"></ion-input>
    </ion-item>

    <ion-item>
        <ion-input [(ngModel)]="lastname" type="text" placeholder="Nom"></ion-input>
    </ion-item>

    <ion-item>
        <ion-input [(ngModel)]="email" type="email" placeholder="Email"></ion-input>
    </ion-item>

    <ion-buttons end>
        <button ion-button class="done-button" (click)="addCandidat()">Ajouter</button>
    </ion-buttons>
</ion-content>