<ion-header class="information">
    <ion-navbar color="whatsapp">
        <ion-title><button class="button-back back-button bar-button bar-button-md back-button-md bar-button-default bar-button-default-md show-back-button" (click)="backProfile()"
                ion-button="bar-button" ng-reflect-klass="back-button" ng-reflect-ng-class="back-button-md"
                style="transition: none;"><span class="button-inner"><ion-icon
                class="back-button-icon icon icon-md back-button-icon-md ion-md-arrow-back" role="img"
                ng-reflect-klass="back-button-icon" ng-reflect-ng-class="back-button-icon-md" aria-label="arrow back"
                ng-reflect-name="md-arrow-back"></ion-icon><span class="back-button-text back-button-text-md"
                                                                 ng-reflect-klass="back-button-text"
                                                                 ng-reflect-ng-class="back-button-text-md"></span></span>
            <div class="button-effect"></div>
        </button>
        Profile</ion-title>

        <ion-buttons end>
            <button ion-button class="done-button" (click)="updateProfile()">Save</button>
            <button ion-button icon-only class="options-button" (click)="showOptions()">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>
</ion-header>
<ion-content>
    <div class="profile-picture">
        <img *ngIf="picture" [src]="picture">
        <ion-icon name="create" (click)="selectProfilePicture()"></ion-icon>
    </div>

    <ion-item class="profile-name">
        <ion-label stacked>Prenom</ion-label>
        <ion-input [(ngModel)]="profile.firstname" placeholder="Prenom"></ion-input>
    </ion-item>
    <ion-item class="profile-name">
        <ion-label stacked>Nom</ion-label>
        <ion-input [(ngModel)]="profile.lastname" placeholder="Nom"></ion-input>
    </ion-item>
    <ion-item class="profile-name">
        <ion-label stacked>Années d'experiences</ion-label>
        <ion-input [(ngModel)]="dossierc.anneeEx" placeholder="Années d'experiences"></ion-input>
    </ion-item>
    <ion-item class="profile-name">
        <ion-label floating>Poste</ion-label>
        <ion-input [(ngModel)]="dossierc.titre" placeholder="Poste"></ion-input>
    </ion-item>
</ion-content>